/frontend/node_modules/
/frontend/.next/
venv/
.idea/
.idea

*.pyc
__pycache__/

instance/

.pytest_cache
.coverage
htmlcov/

dist/
build/
*.egg-info/

*/.DS_STORE
.DS_Store

.env
/cache/
/log/
/bin/logs/
*.log
/bin/dict*
/bin/model*
/hanlp/
/cache_back/
/config/dev_loc_lzx.yml
/faiss_cache/
/sift1M/
/date_export/
/train/fasttext/model/
/.idea/
.idea/*

# 忽略.specstory相关文件
.specstory/
