fastapi==0.115.6
uvicorn==0.34.0
sentence-transformers==3.3.1
gensim==4.3.3
stanza==1.10.1
networkx==3.4.2
python-dotenv==1.0.1
pydantic==2.10.5
llama-index==0.12.11
openai==1.59.7
transformers==4.48.0
requests==2.32.3
pydantic-settings==2.7.1
httpx[socks]==0.28.1
python-multipart==0.0.20
bertopic==0.16.4
